* {box-sizing: border-box;}
body {font-family: PingFangSC-Light;}
table th, table td {padding: 0 5px;}
table td {text-align: right;}

.dove {color: blue;}
.hawk {color: red;}

.allocation-table th,
.allocation-table td {
  width: 24px;
  padding: 0;
  text-align: center;
  font-weight: normal;
}
.allocation-table i {
  float: left;
  width: 11px;
  height: 22px;
}
.allocation-table i.dove {
  background-color: blue;
}
.allocation-table i.hawk {
  background-color: red;
}
