body {font-family: PingFangSC-Light;}
table {
  margin: 15px 0;
  text-align: center;
}
table th,
table td {padding: 0 5px;}
table td {text-align: left;}
table td.no-data {background-color: #ccc;}
.yes {color: green;}
.no {color: red;}
