<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Component</title>
  <style>
    body {font-family: PingFangSC-Light;}
  </style>
</head>
<body>
  <div id="demo"></div>

  <script src="/libs/jquery.min.js"></script>
  <script src="./component.js"></script>
  <script>
    const $demo = new Component({
      name: '$demo',
      selector: '#demo',
      methods: {
        add () {
          const {list} = $list.data
          list.push('Item')
          $list.setData({list})
        },
        reduce () {
          const {list} = $list.data
          list.pop()
          $list.setData({list})
        }
      },
      render () {
        return `
          <div>
            <button onClick="${this.name}.add()">Add</button>
            <button onClick="${this.name}.reduce()">Reduce</button>
          </div>
          ${Component.sub($list, this)}
        `
      }
    })

    const $list = new Component({
      name: '$list',
      data: {
        list: Array(3).fill('Item')
      },
      render (data) {
        const {list} = this.data
        return `<ol>
          ${list.map(name => {
            return Component.sub($listItem, this, {name})
          }).join('')}
        </ol>`
      }
    })

    const $listItem = data => {
      return `<li>${data.name}</li>`
    }
  </script>
</body>
</html>
