<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Component</title>
  <style>
    body {font-family: PingFangSC-Light;}
  </style>
</head>
<body>
  <div id="demo"></div>

  <script src="/libs/jquery.min.js"></script>
  <script src="./component.js"></script>
  <script>
    Component.create({
      selector: '#demo',
      render () {
        return `
          <div>
            <button onClick="${this.instance}.add()">Add</button>
            <button onClick="${this.instance}.remove()">Remove</button>
          </div>
          ${this.subComponent($list)}
        `
      },
      created () {
        console.log('demo created')
      },
      mounted () {
        console.log('demo mounted')
      },
      updated () {
        console.log('demo updated')
      },
      methods: {
        add () {
          const {list} = $list.data
          list.push(`Item ${list.length + 1}`)
          $list.setData({list})
        },
        remove () {
          const {list} = $list.data
          list.pop()
          $list.setData({list})
        }
      }
    })

    const $list = Component.create({
      data () {
        const list = []
        for (let i = 0; i < 2; i++) {
          list.push(`Item ${i + 1}`)
        }
        return {list}
      },
      render () {
        const {list} = this.data
        return `<ol>
          ${list.map(name => {
            // return listItem({name})
            return this.subComponent(listItemFactory({
              instanceName: `listItem_${name}`
            }), {name})
          }).join('')}
        </ol>`
      },
      created () {
        console.log('list created')
      },
      mounted () {
        console.log('list mounted')
      },
      updated () {
        console.log('list updated')
      }
    })

    const listItem = data => {
      return `<li>${data.name}</li>`
    }

    function listItemFactory (options = {}) {
      return {
        instanceName: options.instanceName,
        data: {
          count: 0
        },
        render () {
          const {name, count} = this.data
          return `<li>
            ${name}.
            count:${count}
            <button onClick="${this.instance}.increase()">increase</button>
          </li>`
        },
        created () {
          console.log(`listItem created, name: ${this.data.name}`)
        },
        mounted () {
          console.log(`listItem mounted, name: ${this.data.name}`)
        },
        updated () {
          console.log(`listItem updated, name: ${this.data.name}`)
        },
        methods: {
          increase () {
            let {count} = this.data
            count++
            this.setData({count})
          }
        }
      }
    }
  </script>
</body>
</html>
